/*Registration / Login styles:*/

.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.outsideDIV{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.insideDIV{
    border: solid 1px black;
    padding: 90px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputStyle {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    width: 275px;
}

/*Phone view:*/

@media (max-width: 768px) {
    .insideDIV{
        padding: 75px;
    }
}

@media (max-width: 425px) {
    .insideDIV{
        padding: 40px;
    }
}

@media (max-width: 330px) {
    .insideDIV{
        padding: 20px;
    }
}

/*Menu:*/

.menuButton{
    width: 200px;
    margin: 10px;
}

.backButton{
    position: absolute;
    left: 20px;
    top: 30px;
    width: 100px;
}

/*Login texts:*/

.successText{
    color: green;
    text-align: center;
}

.errorText{
    color: red;
    text-align: center;
}

/*Registration texts:*/

.conditionDIV{
    text-align: center;
    margin-top: 25px;
}

.succesfullRegistration{
    color: green;
    font-weight: bold;
}

.succesfullRegistration:hover{
    text-decoration: underline;
    cursor: pointer;
}

.beforeRegistration{
    color: red;
    font-weight: bold;
}

/*Webshop:*/

.productsOutside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productsInside{
    height: 350px;
    width: 250px;
    margin: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;

    border: solid 1px black;
    box-shadow: 1px 2px 3px black;
}

.productTitle{
    font-weight: bold;
    text-align: center;
    font-size: 22.5px;
}

.productDescription{
    text-align: center;
}

.buyProduct{
    width: 100px;
    align-self: center;
    margin-bottom: 10px;
}

/*BuyIt:*/

.buyItBox{
    height: 600px;
    margin: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buyItInside{
    border: solid 1px blue;
    height: 600px;
    width: 800px;
}