/*Body*/

/* html, body{
    overflow: hidden;
} */

.outsideDIV{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Home:*/

.insideDIV_Home{
    border: solid 1px black;
    padding: 90px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 5px 5px 5px 8px black;
}

.homeButton{
    width: 200px;
    margin: 10px;
    font-weight: bold;
}

.homeButton:hover{
    background-color: blueviolet;
    border: solid 1px black;
}

.backButton{
    position: absolute;
    left: 20px;
    top: 30px;
    width: 100px;
}

.addProductButton{
    position: absolute;
    left: 120px;
    top: 30px;
    width: 120px;
    margin-left: 10px;
}

.HomeDesign{
    width: 100wh;
    height: 100wh;
    background-image: url('./pics/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Login:*/

.successText{
    color: green;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.errorText{
    color: red;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.title_Login{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.insideDIV_Login{
    border: solid 1px black;
    padding: 90px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 5px 5px 5px 8px black;
}

.inputStyle_Login {
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #080808;
    border-radius: 25px;
    width: 275px;
    outline: none;
    transition: border-color 0.5s, box-shadow 0.5s;
    font-weight: 500;
    background-color: transparent;
    border-bottom: solid 3px black;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    border-top: solid 1px transparent;
}

.inputStyle_Login:focus {
    border-color: black; /* Kiemelt szín (kék) */
    box-shadow: 1px 1px 1px 0px black;
}

.loginButton{
    width: 200px;
    margin: 10px;
    font-weight: bold;
}

.loginButton:hover{
    background-color: blue;
}

.LoginDesign{
    width: 100wh;
    height: 100wh;
    background-image: url('pics/login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Registration:*/

.conditionDIV{
    text-align: center;
    margin-top: 25px;
    color: white;
}

.succesfullRegistration{
    color:  green;
    font-weight: bold;
}

.succesfullRegistration:hover{
    cursor: pointer;
    text-decoration: underline;
}

.beforeRegistration{
    color: red;
    font-weight: bold;
}

.RegistrationDesign{
    width: 100wh;
    height: 100wh;
    background-image: url('pics/registration.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.insideDIV_Registration{
    border: solid 1px white;
    padding: 90px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 5px 5px 5px 8px white;
}

.title_Registration{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.inputStyle_Registration {
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 25px;
    width: 275px;
    outline: none;
    transition: border-color 0.5s, box-shadow 0.5s;
    font-weight: 500;
    background-color: transparent;
    border-bottom: solid 3px white;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    border-top: solid 1px transparent;
}

.inputStyle_Registration:focus {
    border-color: white; /* Kiemelt szín (kék) */
    box-shadow: 1px 1px 1px 0px white;
}

.inputStyle_Registration::placeholder{
    color: white;
}

.registrationButton{
    width: 200px;
    margin: 10px;
    font-weight: bold;
}

.registrationButton:hover{
    background-color: gray;
    border: solid 1px gray;
    color: white;
}

/*Webshop:*/

.productsOutside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productsInside{
    height: 350px;
    width: 250px;
    margin: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;

    border: solid 1px black;
    box-shadow: 1px 2px 3px black;
}

.productTitle{
    font-weight: bold;
    text-align: center;
    font-size: 22.5px;
}

.productDescription{
    text-align: center;
}

.productPrice{
    text-align: center;
}

.productStock{
    text-align: center;
}

.buyProduct{
    width: 100px;
    align-self: center;
    margin-bottom: 10px;
}

.title_Webshop{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.WebshopDesign{
    width: 100wh;
    height: 100wh;
}

.title_Webshop{
    text-align: center;
    margin-top: 100px;
}

/*BuyIt:*/

.buyItBox{
    height: 600px;
    margin: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buyItInside{
    height: 600px;
    width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 4px blue;
    border-bottom: solid 4px darkblue;
}

.buyitButton{
    width: 250px;
    margin-top: 35px;
}

.buyitButton:hover{
    background-color: blue;
    border: solid 2px black;
    font-weight: bold;
}

.buyitTitle {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: -10px;
    text-align: center;
}

.buyitAvailable {
    font-size: 1em;
    color: gray;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
}

.buyitAbout{
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 5px;
}

.buyitDescription {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
    font-weight: 350;
}

.buyitPriceTitle{
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 5px;
}

.buyitPrice {
    font-size: 1.2em;
    color: gray;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.buyitDollarSign{
    color: green;
}

.buyitInput{
    width: 250px;
    position: relative;
    
}

.buyItHowMany{
    margin-bottom: 10px;
    color: gray;
    font-weight: bold;
}

.buyItTotal{
    font-weight: 500;
    color: gray;
    margin-top: 40px;
}

/*AddProduct*/

.insideDIV_Login{
    border: solid 1px black;
    padding: 90px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 5px 5px 5px 8px black;
}

.inputStyle_AddProduct {
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #080808;
    width: 275px;
    outline: none;
    transition: border-color 0.5s, box-shadow 0.5s;
    font-weight: 500;
    background-color: transparent;
    border-bottom: solid 3px black;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    border-top: solid 1px transparent;
}

.inputStyle_AddProduct:focus {
    border-bottom: solid 3px blue;
}

/*Phone view:*/

@media (max-width: 768px) {
    .insideDIV_Home{
        padding: 75px;
    }
    .homeButton{
        width: 175px;
    }
    .insideDIV_Login{
        padding: 75px;
    }
    .insideDIV_Registration{
        padding: 50px;
    }
}

@media (max-width: 563px) {
    .insideDIV_Registration{
        padding: 30px;
    }
    .conditionDIV{
        font-size: 15px;
    }
}

@media (max-width: 494px) {
    .registrationButton{
        width: 150px;
    }
    .inputStyle_Registration{
        width: 250px;
    }

}

@media (max-width: 487px) {
    .insideDIV_Login{
        padding: 60px;
    }
}

@media (max-width: 443px) {
    .insideDIV_Login{
        padding: 40px;
    }
    .inputStyle_Login{
        width: 200px;
        padding: 8px;
        font-size: 14px;
    }
    .loginButton{
        width: 150px;
        font-size: 14px;
    }
    .errorText{
        font-size: 14px;
    }
    .successText{
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .insideDIV_Home{
        padding: 40px;
    }
    .homeButton{
        width: 150px;
    }
}

@media (max-width: 330px) {
    .insideDIV_Home{
        padding: 20px;
    }
    .homeButton{
        width: 125px;
    }
}